# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.venv/
env/

# Django
db.sqlite3
media/
staticfiles/

# Migrations (keep __init__.py)
**/migrations/*
!**/migrations/__init__.py

# Environment
.env

# Logs
*.log

# Testing
.coverage
.pytest_cache/
htmlcov/

# MyPy
.mypy_cache/

# Ruff
.ruff_cache/

# IDE
.vscode/
.idea/