@import "tailwindcss";

@theme {
  /* custom color Dark Overlay */
  --color-BC-DO05: #FFFFFF0D;
  --color-BC-DO10: #FFFFFF1A;
  --color-BC-DO20: #FFFFFF33;
  --color-BC-DO30: #FFFFFF0D;
  --color-BC-DO40: #FFFFFF66;
  --color-BC-DO50: #FFFFFF80 ;
  --color-BC-DO60: #FFFFFF99;
  --color-BC-DO70: #FFFFFFB3;
  --color-BC-DO80: #FFFFFFCC;
  --color-BC-DO90: #FFFFFFE6;
  --color-white: #FFFFFF;

  /* custom color Light Overlay */
  --color-BC-LO05: #0B411D0D;
  --color-BC-LO10: #0B411D1A;
  --color-BC-LO20: #125B2033;
  --color-BC-LO30: #145A2B4D;
  --color-BC-LO40: #0B411D66;
  --color-BC-LO50: #0B411D80;
  --color-BC-LO60: #16412499;
  --color-BC-LO70: #133906B3;
  --color-BC-LO80: #133C21CC;
  --color-BC-LO90: #13301DE6;
  --color-Dark: #05190B;

  /* custom color Neutral */
  --color-BC-N0-light : #FFFFFF;
  --color-BC-N0-dark : #0D0E0C;
  --color-BC-N100-light : #EFF0EF;
  --color-BC-N100-dark : #121311;
  --color-BC-N200-light : #E0E2DE;
  --color-BC-N200-dark : #1F201D;
  --color-BC-N300-light : #C1C5BF;
  --color-BC-N300-dark : #282B27;
  --color-BC-N400-light : #A2A89E;
  --color-BC-N400-dark : #3C403A;
  --color-BC-N500-light : #838B7F;
  --color-BC-N500-dark : #51564E;
  --color-BC-N600 : #656B61;
  --color-BC-N700-light : #51564E;
  --color-BC-N700-dark : #838B7E;
  --color-BC-N800-light : #3C403A;
  --color-BC-N800-dark : #A2A89E;
  --color-BC-N900-light : #282B27;
  --color-BC-N900-dark : #A2A89E;
  --color-BC-N1000-light : #141513;
  --color-BC-N1000-dark : #E0E3DD;

  /* custom color Neutral Alpha */
  --color-BC-NA02-light : #FFFFFF05;
  --color-BC-NA02-dark : #1A203405;
  --color-BC-NA05-light : #FFFFFF0D;
  --color-BC-NA05-dark : #1A20340D;
  --color-BC-NA10-light : #FFFFFF1A;
  --color-BC-NA10-dark : #1A20341A;
  --color-BC-NA20-light : #FFFFFF33;
  --color-BC-NA20-dark : #1A203433;
  --color-BC-NA30-light : #FFFFFF4D;
  --color-BC-NA30-dark : #1A20344D;
  --color-BC-NA40-light : #FFFFFF66;
  --color-BC-NA40-dark : #1A203466;
  --color-BC-NA50-light : #FFFFFF80;
  --color-BC-NA50-dark : #1A203480;
  --color-BC-NA60-light : #FFFFFF99;
  --color-BC-NA60-dark : #1A203499;
  --color-BC-NA70-light : #FFFFFFB3;
  --color-BC-NA70-dark : #1A2034B3;
  --color-BC-NA80-light : #FFFFFFCC;
  --color-BC-NA80-dark : #1A2034CC;
  --color-BC-NA90-light : #FFFFFFE6;
  --color-BC-NA90-dark : #1A2034E6;

  /* custom color Neutral Alpha Invert */
  --color-BC-NI02-light : #1B271705;
  --color-BC-NI02-dark : #C4F5B305;
  --color-BC-NI05-light : #1B27170D;
  --color-BC-NI05-dark : #C4F5B30D;
  --color-BC-NI10-light : #1B27171A;
  --color-BC-NI10-dark : #C4F5B31A;
  --color-BC-NI20-light : #1B271733;
  --color-BC-NI20-dark : #C4F5B333;
  --color-BC-NI30-light : #1B27174D;
  --color-BC-NI30-dark : #C4F5B34D;
  --color-BC-NI40-light : #1B271766;
  --color-BC-NI40-dark : #C4F5B366;
  --color-BC-NI50-light : #1B271780;
  --color-BC-NI50-dark : #C4F5B380;
  --color-BC-NI60-light : #1B271799;
  --color-BC-NI60-dark : #C4F5B399;
  --color-BC-NI70-light : #1B2717B3;
  --color-BC-NI70-dark : #C4F5B3B3;
  --color-BC-NI80-light : #1B2717CC;
  --color-BC-NI80-dark : #C4F5B3CC;
  --color-BC-NI90-light : #1B2717E6;
  --color-BC-NI90-dark : #C4F5B3E6;

  /* custom color Primary */
  --color-BC-PR-Hero-light : #3A7326;
  --color-BC-PR-Hero-dark : #2E5C1E;
  --color-BC-PR100-light : #E9F6E4;
  --color-BC-PR100-dark : #060C04;
  --color-BC-PR200-light : #D3EDC9;
  --color-BC-PR200-dark : #0C1708;
  --color-BC-PR300-light : #A6DC94;
  --color-BC-PR300-dark : #0C1708;
  --color-BC-PR400-light : #7ACA5E;
  --color-BC-PR400-dark : #234517;
  --color-BC-PR500-light : #55A938;
  --color-BC-PR500-dark : #2E5C1E;
  --color-BC-PR600-light : #3A7326;
  --color-BC-PR600-dark : #3A7326;
  --color-BC-PR700-light : #2E5C1E;
  --color-BC-PR700-dark : #55A938;
  --color-BC-PR800-light : #234517;
  --color-BC-PR800-dark : #7ACA5E;
  --color-BC-PR900-light : #172E0F;
  --color-BC-PR900-dark : #A6DC94;
  --color-BC-PR1000-dark : #D3EDC9;
  --color-BC-PR1000-light : #0C1708;

  /* custom color Primary Alpha */
  --color-BC-PRA05-light : #3A73260D;
  --color-BC-PRA05-dark : #6CB8510D;
  --color-BC-PRA10-light : #3A73261A;
  --color-BC-PRA10-dark : #6CB8511A;
  --color-BC-PRA20-light : #3A732633;
  --color-BC-PRA20-dark : #6CB85133;
  --color-BC-PRA30-light : #3A73264D;
  --color-BC-PRA30-dark : #6CB8514D;
  --color-BC-PRA40-light : #3A732666;
  --color-BC-PRA40-dark : #6CB85166;
  --color-BC-PRA50-light : #3A732680;
  --color-BC-PRA50-dark : #6CB85180;
  --color-BC-PRA60-light : #3A732699;
  --color-BC-PRA60-dark : #6CB85199;
  --color-BC-PRA70-light : #3A7326B3;
  --color-BC-PRA70-dark : #6CB851B3;
  --color-BC-PRA80-light : #3A7326CC;
  --color-BC-PRA80-dark : #6CB851CC;
  --color-BC-PRA90-light : #3A7326E6;
  --color-BC-PRA90-dark : #6CB851E6;

  /* custom color Red */
  --color-BC-RE100-light: #FEEBEB;
  --color-BC-RE100-dark: #190606;
  --color-BC-RE200-light: #FDD7D7;
  --color-BC-RE200-dark: #310B0B;
  --color-BC-RE300-light: #FBAFAF;
  --color-BC-RE300-dark: #621616;
  --color-BC-RE400-light: #F98888;
  --color-BC-RE400-dark: #932222;
  --color-BC-RE500-light: #F76060;
  --color-BC-RE500-dark: #C42D2D;
  --color-BC-RE600-light: #EE3737;
  --color-BC-RE600-dark: #F61414;
  --color-BC-RE700-light: #C42D2D;
  --color-BC-RE700-dark: #F76060;
  --color-BC-RE800-light: #932222;
  --color-BC-RE800-dark: #F98888;
  --color-BC-RE900-light: #621616;
  --color-BC-RE900-dark: #FBAFAF;
  --color-BC-RE1000-light: #420F0F;
  --color-BC-RE1000-dark: #FCCACA;
  /* custom color DO 05*/
  --color-DO05 : #FFFFFF0D;

  /* custom font weight */
  --font-weight-thin: 100;
  --font-weight-extra_light: 200;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extra_bold: 800;
  --font-weight-black: 900;

  /* custom FONT FAMILIES*/

  --font-dm-sans: "DM Sans", ui-sans-serif, system-ui, sans-serif;
  --font-inter: "Inter", ui-sans-serif, system-ui, sans-serif;

  /* text for DISPLAY */

  --text-display-1: 88px;
  --text-display-1--line-height: 108%;
  --text-display-1--font-weight: 700;
  --text-display-1--font-family: var(--font-dm-sans);

  --text-display-2: 61px;
  --text-display-2--line-height: 112%;
  --text-display-2--font-weight: 700;
  --text-display-2--font-family: var(--font-dm-sans);


  /* text for HEADINGS */

  --text-h1: 48px;
  --text-h1--line-height: 116%;
  --text-h1--font-weight: 700;
  --text-h1--font-family: var(--font-dm-sans);

  --text-h2: 39px;
  --text-h2--line-height: 116%;
  --text-h2--font-weight: 700;
  --text-h2--font-family: var(--font-dm-sans);

  --text-h3: 31px;
  --text-h3--line-height: 128%;
  --text-h3--font-weight: 700;
  --text-h3--font-family: var(--font-dm-sans);

  --text-h4: 25px;
  --text-h4--line-height: 120%;
  --text-h4--font-weight: 700;
  --text-h4--font-family: var(--font-dm-sans);

  --text-h5: 20px;
  --text-h5--line-height: 142%;
  --text-h5--font-weight: 700;
  --text-h5--font-family: var(--font-dm-sans);

  --text-h6: 16px;
  --text-h6--line-height: 120%;
  --text-h6--font-weight: 700;
  --text-h6--font-family: var(--font-dm-sans);

  /* text for BODY */
  --text-xs-body: 12px;
  --text-xs-body--line-height: 140%;
  --text-xs-body--font-weight: 400;
  --text-xs-body--font-family: var(--font-inter);

  --text-sm-body: 14px;
  --text-sm-body--line-height: 140%;
  --text-sm-body--font-weight: 400;
  --text-sm-body--font-family: var(--font-inter);

  --text-body: 16px;
  --text-body--line-height: 160%;
  --text-body--font-weight: 400;
  --text-body--font-family: var(--font-inter);

  --text-md-body: 20px;
  --text-md-body--line-height: 158%;
  --text-md-body--font-weight: 400;
  --text-md-body--font-family: var(--font-inter);

  --text-lg-body: 24px;
  --text-lg-body--line-height: 160%;
  --text-lg-body--font-weight: 400;
  --text-lg-body--font-family: var(--font-inter);

  /* text for BUTTONS */

  --text-button-sm: 14px;
  --text-button-sm--line-height: 126%;
  --text-button-sm--font-family: var(--font-dm-sans);

  --text-button-base: 16px;
  --text-button-base--line-height: 122%;
  --text-button-base--font-family: var(--font-dm-sans);

  --text-button-lg: 20px;
  --text-button-lg--line-height: 122%;
  --text-button-lg--font-family: var(--font-dm-sans);


  /* text UPPERCASE */


  --text-uppercase: 16px;
  --text-uppercase--line-height: 132%;
  --text-uppercase--font-weight: 500;
  --text-uppercase--font-family: var(--font-dm-sans);
}

@layer base {
  html {
    font-family: var(--font-dm-sans);
  }
  body{
    font-family: var(--font-dm-sans);
    font-size: 16px;
    line-height: 160%;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-dm-sans);
  }

  button {
    font-family: var(--font-dm-sans);
  }
}